@charset "UTF-8";
/* Body */
body {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	background-image: url("../images/bg.png");
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
/* Container */
.container {
	width: 90%;
	height:auto;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
}
a {
	color: #B6D6CC;
	text-decoration: none;
}
p:hover a {
	color: #D65C28;
}
/* Navigation */
header {
	position: fixed;
	z-index: 1;
	width: 90%;
	height: 70px;
	background-color: #fff;
	border-bottom: 1px solid #635C51;
}
.logo {
	float: left;
	margin-top: 7px;
	margin-left: 15px;
}
nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 15px;
	margin-top: 7px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #D65C28;
	font-size: 18px;
	text-align: left;
	margin-left: 20px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #D65C28;
	text-decoration: none;
}
ul li:hover a {
	color: #B6D6CC;
}
h2::before{
	display: block;
	content: " ";
	margin-top: -200px;
	height: 200px;
	visibility: hidden;
	pointer-events: none;
}
/* Hero Section */
.hero {
	padding-top: 70px;
	position: relative;
	width: 100%;
	background-color: #fff;
}
.bold {
	font-weight: bold;
	color: #0d1f2d;
}
.tagline {
	position: absolute;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 24px;
	top: 95px;
	left: 3%
}
/* About Section */
.about {
	padding-right: 25px;
	padding-bottom: 25px;
	display: inline-block;
	background-color: #FFFFFF;
	margin-top: 0px;
}
.services_column {
	width: 35%;
	float:left;
	text-align: right;
}
.adminButton {
	width: 300px;
	height: 100px;
	margin-top: 25px;
	background: url("../images/adminOff.png") no-repeat;
	display: inline-block;
}
.adminButton:hover {
	background: url("../images/adminOn.png") no-repeat;
	background-size: 100%;
}
.commButton {
	width: 300px;
	height: 100px;
	margin-top: 25px;
	background: url("../images/commOff.png") no-repeat;
	display: inline-block;
}
.commButton:hover {
	background: url("../images/commOn.png") no-repeat;
	background-size: 100%;
}
.financeButton {
	width: 300px;
	height: 100px;
	margin-top: 25px;
	background: url("../images/financeOff.png") no-repeat;
	display: inline-block;
}
.financeButton:hover {
	background: url("../images/financeOn.png") no-repeat;
	background-size: 100%;
}
.otherButton {
	width: 300px;
	height: 100px;
	margin-top: 25px;
	background: url("../images/otherOff.png") no-repeat;
	display: inline-block;
}
.otherButton:hover {
	background: url("../images/otherOn.png") no-repeat;
	background-size: 100%;
}
.about h2 {
	font-size: 36px;
	text-transform: uppercase;
	color: #0D1f2d; 
}
.text_column {
	width: 60%;
	text-align: justify;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
	color: #635c51;
}
/* Parallax Section */
.adminBanner {
	border-top: 1px solid #635C51;
	background-color: #fff;
	background-image: url("../images/adminBanner.png");
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.commBanner {
	border-top: 10px solid #fff;
	background-color: #fff;
	background-image: url("../images/commBanner.png");
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.financeBanner {
	border-top: 10px solid #fff;
	background-color: #fff;
	background-image: url("../images/financeBanner.png");
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.otherBanner {
	border-top: 10px solid #fff;
	background-color: #fff;
	background-image: url("../images/otherBanner.png");
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.parallax {
	background-color: #fff;
	align: justify;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 30px;
	width: 30%;
	float: right;
	line-height: 23px;
}
.parallax h2 {
	font-size: 30px;
	text-transform: uppercase;
	color: #0D1f2d;
	text-align: center;
}
.price {
	width: auto;
	padding: 25px;
	text-align: left;
	background-color: #fff;
	color: #635c51;
	font-size: 24px;
}
/* Contact */
.footer {
	background-color: #635c51;
	display: inline-block;
	width:100%;
}
.contact_column {
	width: 40%;
	text-align: center;
	padding-bottom: 30px;
	margin-left: 10%;
	float: left;
}
.contact_column h2 {
	color: #fff;
	margin-top: 25px;
	text-transform: uppercase;
}
label {
	display:block;
	margin-top:15px;
	color: #fff;
	text-transform: uppercase;
	text-align: left;
}
input, textarea {
	width: 100%;
	height: 27px;
	border: none;
	margin-top: 5px;
	color: #0D1F2D;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
textarea {
	height: 150px;
}
input:focus, textarea:focus {
	border: 1px solid #B6D6CC;
}
#submit {
	width: 100%;
	height: auto;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	background-color: #D65C28;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
#submit:hover {
	background-color: #B6D6CC;
	color: #635C51;
	cursor: pointer;
}
.map_column {
	width: 40%;
	text-align: left;
	padding-left: 15px;
	padding-top: 15px;
	float: left;
	color: #fff;
}
.map_column iframe {
	display: block;
	width: 100%;
	height: 350px;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #fff;
	color: #635c51;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
}
/* Mobile */
@media (max-width: 500px) {
.logo {
	float: none;
	padding: 0px;
	padding-top: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.container {
	width: 100%;
	background: #fff;
}
.container header nav {
	width: 100%;
	float: none;
	display: inline-block;
	background: #fff;
}
header {
	width: 100%;
	height: 70px;
}
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}
.hero {
	padding-top: 200px;
	height: inherit;
}
.tagline {
	top: 200px;
	float: none;
	text-align: center;
	padding-top: 60%;
	padding-left: 0px;
	color: #635c51;
	font-weight: normal;
	font-size: 14px;
}
.about {
	padding: 7px;
}
.services_column {
	width: 100%;
	text-align: center;
	padding-top: 100px;
}
.adminButton {
	width: 270px;
	height: 90px;
	background-size: 100%;
	margin-top: 0px;
}
.commButton {
	width: 270px;
	height: 90px;
	background-size: 100%;
	margin-top: 0px;
}
.financeButton {
	width: 270px;
	height: 90px;
	background-size: 100%;
	margin-top: 0px;
}
.otherButton {
	width: 270px;
	height: 90px;
	background-size: 100%;
	margin-top: 0px;
}
.about h2 {
	text-align: center;
	font-size: 30px;
}
.text_column {
	float:none;
	width: 100%;
	font-size: 14px;
}
.text_column p {
	text-align: justify;
	padding:5px;
}
.adminBanner {
	background-attachment: scroll;
}
.commBanner {	
	background-attachment: scroll;
}
.financeBanner {		
	background-attachment: scroll;
}
.otherBanner {	
	background-attachment: scroll;
}
.parallax {
	text-align: justify;
	padding: 0px;
	padding-left: 25px;
	padding-right: 15px;
	width: 93%;
	font-size: 14px;
	line-height: 16px;
}
.parallax h2 {
	font-size: 18px;
}
.price {
		font-size: 14px;
	}
.contact_column {
	float:none;
}
label {
	text-align: center;
}
input, textarea {
	width:80%;
}
#submit {
	width: 60%;
}
.map_column {
	float:none;
	text-align: center;
}
.map_column iframe {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
}

/* Small Tablets */
@media (min-width: 500px)and (max-width: 767px) {
.container {
	height: 375px;
}
.logo {
	float: none;
	padding-top: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.container header nav {
	width: 100%;
	float: none;
	display: inline-block;
	background: #fff;
}
header {
	height: 70px;
}
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}
.hero {
	padding-top: 200px;
}
.tagline {
	top: 220px;
	font-size: 14px;
}
.about {
	padding: 7px;
}
.services_column {
	width: 100%;
	text-align: center;
}
.adminButton {
	width: 180px;
	height: 60px;
	background-size: 100%;
	margin-top: 15px;
}
.commButton {
	width: 180px;
	height: 60px;
	background-size: 100%;
	margin-top: 15px;
}
.financeButton {
	width: 180px;
	height: 60px;
	background-size: 100%;
	margin-top: 15px;
}
.otherButton {
	width: 180px;
	height: 60px;
	background-size: 100%;
	margin-top: 15px;
}
.about h2 {
	text-align: center;
	font-size: 24px;
}
.text_column {
	float:none;
	width: 100%;
	font-size: 14px;
}
.text_column p {
	text-align: justify;
	padding:5px;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.adminBanner {		
	background-attachment: scroll;
}
.commBanner {		
	background-attachment: scroll;
}
.financeBanner {		
	background-attachment: scroll;
}
.otherBanner {		
	background-attachment: scroll;
}
.parallax {
	line-height: 16px;
	width: 50%;
	font-size: 14px;
	overflow: hidden;
}
.parallax h2 {
	font-size: 24px;
}
.price {
	font-size: 18px;
}
.contact_column {
	float:none;
}
label {
	text-align: center;
}
input, textarea {
	width:80%;
}
#submit {
	width: 60%;
}
.map_column {
	float:none;
	text-align: center;
}
.map_column iframe {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
header {
	height: 70px;
}
nav ul li {
	font-size: 14px;
	text-align: left;
}
.tagline {
	font-size: 18px;
}
.services_column {
	padding-left: 7px;
	width: 33%;
}
.adminButton {
	width: 225px;
	height: 75px;
	background-size: 100%;
	margin-top: 15px;
}
.commButton {
	width: 225px;
	height: 75px;
	background-size: 100%;
	margin-top: 15px;
}
.financeButton {
	width: 225px;
	height: 75px;
	background-size: 100%;
	margin-top: 15px;
}
.otherButton {
	width: 225px;
	height: 75px;
	background-size: 100%;
	margin-top: 15px;
}
.text_column {
	padding-left: 7px;
	padding-right: 7px;
}
.parallax {
	font-size: 14px;
	width: 40%;
}
.parallax h2 {
	font-size: 24px;
}
.price {
	font-size: 18px;
}
}
